
.Home{

    width: 600px;
   position: relative;
   left: 450px;
    box-shadow: 0 0 15px;

.Page{
  display: flex;
    flex-direction: column;
 align-items: center;
    &_Header{
        height: 70px;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 500px;
        border-radius: 15px;
        
        margin: 15px;

       
       
        &-ic{
            background-color: #ffff;
            border: none;
            cursor: pointer;
            margin: 20px;
        }

    }

    &_Main{
       display: flex;
       
        
        
        
       height: 600px;
       width: 500px;

       &-bg{
        height: 600px;
        width: 500px;
        background: url('../../../public/img/image.png');
        position: relative;
        left: 50px;
        
       }

        
     &-btn{
        border-radius: 10px;
        width: 470px;
        height: 50px;
        background-color: #ffff;
        font-size: 25px;
        font-weight: 400px;
        line-height: 18.31px;
        position: relative;
        top: 500px;
        right: 40px;
        border-color: #D5101C;
      
        cursor: pointer;
    

     }

     &-btn:hover{
        background: #F1F1F1;
     }

    
    }

    &_Work{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
        &-content{
           
          display: flex;
          align-items: center;
          flex-direction: column;

        &-h1{
        font-family: Calibri;
        font-size: 50px;
        font-weight: 700;
        line-height: 26.86px;
        text-align: center;
        padding: 10px;
        }
    

        &-h2{
        font-family: Calibri;
        font-size: 17px;
        font-weight: 400;
        line-height: 15.87px;
        text-align: center;
        padding: 10px;

        }
        &-city{
        font-family: Calibri;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.09px;
        text-align: left;
        padding: 10px;
        align-items: center;

        }
    }
    }

   

    &_Works{
      
        
       display: flex;
        align-items: center;
        
        
      
        box-shadow: 0 0 10px;
        border-radius: 15px;
            margin: 15px;

            &-name{
            font-family: Calibri;
            font-size: 20px;
            font-weight: 400;
         
            
            padding: 15px;

            }

        &-text{
        font-family: Calibri;
        font-size: 15px;
        font-weight: 400;
        line-height: 12.21px;
        text-overflow: inherit;
        padding: 35px;
        &-svg{
            position: relative;
            right: 10px;
        }
        
        }

        &-btn{
            display: flex;
            border-radius: 15px;
            background: #D5101C;
            border: none;
            color: #ffff;
            margin: 15px;
            width: 200px;
            height: 45px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        &-btn:hover{
            background: #A50000;
        }
    }

    &_Footer{
        padding: 15px;
        background-color: #D5101C;
        width: 570px;
        height: 50px;
        display: flex;

        &-svg{
            position: relative;
            left: 200px;
        }
        
       &-text{
        color: #ffff;
      
       
       }
    }


}

}

.TaskModal {
    display: flex;
    width: 100%;
    align-items: center;

    &_Icon {
        margin-right: 15px;
        width: 48px;
        height: 48px;
    }
    
    &_Text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 48px; 
        &_Task {
            font-family: Calibri;
            font-weight: 400;
            font-size: 15px;
            line-height: 18.31px;
            margin-bottom: 2px;
        }
        
        &_Name {
            font-family: Calibri;
            font-weight: 400;
            font-size: 20px;
            line-height: 24.41px;
            margin-top: 0; 
        }
    }
    &_Description{
        margin-top: 19px;
        margin-bottom: 25px;
        font-family: Calibri;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.31px;
        text-align:justify;
        color: #585858;

    }
    &_Recomendation{
        font-family: Calibri;
        font-size: 13px;
        font-weight: 400;
        line-height: 15.87px;
        text-align: justify;
        color: #585858;
    }
    &_Answer{
        font-family: Calibri;
        font-size: 15px;
        font-weight: 400;
        line-height: 18.31px;
        text-align: justify;
        color: #585858;

    }
    &_Textarea{
        width: 100%;
        height: 61px;
        top: 343px;
        left: 25px;
        gap: 0px;
        border-radius: 5px;
        opacity: 0px;
        color: #585858;
        
    }
    &_Send{
        width: 325px;
        height: 48px;
        font-family: Calibri;
        font-size: 15px;
        font-weight: 700;
        margin-top: 28px;
        border-radius: 10px;
        border: 1px ;
        color:#FFFFFF;
        background-color: #D5101C;
        box-shadow: 0px 4px 4px 0px #5D5D5D0D;
    }
    &_Send:hover{
        width: 325px;
        height: 48px;
        font-family: Calibri;
        font-size: 15px;
        font-weight: 700;
        margin-top: 28px;
        border-radius: 10px;
        border: 1px ;
        color:#FFFFFF;
        background-color: #A50000;
        box-shadow: 0px 4px 4px 0px #5D5D5D0D;
    }
    
    
}
